<mat-toolbar color="primary">

    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>Padok</span>
    <span class="example-spacer"></span>
</mat-toolbar>


<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #sidenav style="width: 200px;">
        <mat-nav-list (click)="sidenav.toggle()">
            <a mat-list-item [routerLink]="'/produtos'"> <span class="material-icons">
                dashboard_customize
                </span> &nbsp; Produtos </a>
            <a mat-list-item [routerLink]="'/clientes'"> <span class="material-icons">
              dashboard_customize
            </span> &nbsp; Clientes </a>
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>