<mat-toolbar color="primary">

    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>Padok</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 200px;">
        <mat-nav-list (click)="sidenav.toggle()">
            <a mat-list-item [routerLink]="'/produtos'"> <span class="material-icons">
                dashboard_customize
                </span> &nbsp; Produtos </a>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>