<div class="card" style="justify-content: center; justify-items: center; text-align: center; border-radius: 20px;">
    <h3 class="card-title">Histórico de Funcionários</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOME</th>
                <th scope="col">Data Início</th>
                <th scope="col">Data Fim</th>
                <th scope="col">EDITAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let for of funcionarios; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{for.nomeFuncionario}}</td>
                <td>{{for.dataIni}}</td>
                <td>{{for.dataFim}}</td>
                <td><i style="color: #0033c0; cursor: pointer;" class="fas fa-pen"></i></td>
            </tr>
        </tbody>
    </table>
</div>