<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="card" routerLink="/menu-app" style="margin-right: 2%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor: pointer;">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Quantidade de Funcionários &nbsp; &nbsp;</p>
                                <h4 class="mb-0">{{funcionarios.length}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="ri-user-star-line font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" routerLink="/solicitacoes" style="margin-right: 2%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor: pointer;">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Quantidade de Vendas &nbsp; &nbsp;</p>
                                <h4 class="mb-0">{{vendas.length}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="ri-numbers-line font-size-24"></i>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card" routerLink="/noticias" style="margin-right: 2%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor: pointer;">
                    <!-- <div id="triangulo-para-direita"></div> -->
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Quantidade de Produtos &nbsp; &nbsp;</p>
                                <h4 class="mb-0">{{produtos.length}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="ri-file-chart-fill font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" routerLink="/users" style="margin-right: 2%;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); cursor: pointer;">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Quantidade de Clientes &nbsp; &nbsp;</p>
                                <h4 class="mb-0">{{clientes.length}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="ri-shield-user-fill font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>